
* {
    font-family: 'Inter', sans-serif;
}

body {
    background-color: #0e0e0e;
    padding-left: 10px;
    padding-right: 10px;
    margin:0;
    padding:0;
}

body::-webkit-scrollbar {
    display: none;
}


input:-webkit-autofill {
    background-color: #18181b !important;
    -webkit-text-fill-color: #ffffff !important;
    font-weight: 500 !important;
    transition: background-color 5000s ease-in-out 0s;
    caret-color: white;
}

